.carousel-wrapper {
  width: 100%;
  align-content: center;
  display: inline-block;
}
.carousel-wrapper .tutorial-carousel {
  width: 60%;
  height: 200px;
  margin: auto;
  border: 2px solid #00c519;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
.top-bar {
  width: 100%;
  height: 75px;
  background-color: #00c519;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
}
.top-bar .menu {
  position: absolute;
  left: 20px;
}
.top-bar .menu .menu-button {
  cursor: pointer;
}
.top-bar .menu .menu-content {
  width: 200px;
  left: -20px;
  top: 41px;
  transition: 1s;
  position: absolute;
  background-color: #62c46f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2.5px solid #62c46f;
}
.top-bar .menu .menu-content .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  font-family: Roboto;
  color: white;
}
.top-bar .menu .menu-content .dropdown-link:hover {
  color: white;
  background-color: #008010;
}
.top-bar .menu .menu-hidden {
  left: -240px;
  transition: 1s;
}
.top-bar h1 {
  margin: 0;
  font-size: 4rem;
}
header {
  position: relative;
}
header .text h1 {
  position: absolute;
  z-index: 2;
  margin: 0 10rem;
  left: 0;
  right: 0;
  top: 37%;
  width: 71%;
  color: white;
  font-size: 4rem;
}
header .text p {
  position: absolute;
  z-index: 2;
  margin: 0 10rem;
  left: 0;
  right: 0;
  top: 45%;
  width: 50%;
  color: white;
  font-size: 1.6rem;
}
header button {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  margin: 0;
  left: 35%;
  top: 90%;
  width: 30%;
  color: white;
  font-size: 1.6rem;
  padding: 15px;
  border-radius: 5px;
  background-color: #00c519;
  border: none;
  font-family: Roboto;
  font-weight: 700;
}
header img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: white;
}
.container {
  max-width: 1400px;
}
