.carousel-wrapper {
  width: 100%;
  height: 600px;
  align-content: center;
  display: flex;
  justify-content: center;
  background: white;
  padding: 50px 0;
}
.carousel-wrapper .tutorial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  margin-top: 10px;
  padding-left: 5%;
}
@media (max-width: 1000px) {
  .carousel-wrapper .tutorial-content {
    height: auto;
    padding: 0;
    width: 70%;
  }
}
@media (max-width: 500px) {
  .carousel-wrapper .tutorial-content {
    width: 95%;
  }
}
.carousel-wrapper .tutorial-content .tut-bubble {
  width: 70%;
  padding: 14px;
  height: 20%;
  border: 1px solid #00c519;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0 lightgrey;
  margin-top: 10px;
  background: #edffed;
}
@media (max-width: 1000px) {
  .carousel-wrapper .tutorial-content .tut-bubble {
    width: 90%;
  }
}
.carousel-wrapper .tutorial-content .tut-bubble h3 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
  font-size: 1.4rem;
}
.carousel-wrapper .tutorial-content .tut-bubble p {
  font-size: 1.3rem;
  text-align: center;
}
.carousel-wrapper .tutorial-content h2 {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  top: 0;
  font-size: 3rem;
  border-bottom: 1px solid lightgrey;
  width: 50%;
}
@media (max-width: 1000px) {
  .carousel-wrapper .tutorial-content h2 {
    width: 70%;
  }
}
.carousel-wrapper .carousel {
  background: white;
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 80px;
  padding: 50px;
}
.carousel-wrapper .carousel .carousel-button {
  position: absolute;
  top: 50%;
  background: transparent;
  border: 0;
  transition: all 0.2s;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .carousel-wrapper .carousel .carousel-button {
    height: 125px;
    width: 10%;
    background: #62c46f;
    top: 40%;
    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .carousel-wrapper .carousel .carousel-button {
    top: 430px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}
.carousel-wrapper .carousel .carousel-button:focus {
  outline: none;
}
.carousel-wrapper .carousel .carousel-button i {
  font-size: 3rem;
  color: #62c46f;
}
@media (max-width: 1000px) {
  .carousel-wrapper .carousel .carousel-button i {
    color: white;
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .carousel-wrapper .carousel .carousel-button i {
    font-size: 3rem;
  }
}
.carousel-wrapper .carousel .carousel-button--left {
  margin-left: -40px;
}
@media (max-width: 1000px) {
  .carousel-wrapper .carousel .carousel-button--left {
    margin-left: -100px;
  }
}
@media (max-width: 700px) {
  .carousel-wrapper .carousel .carousel-button--left {
    margin-left: -43px;
  }
}
@media (max-width: 500px) {
  .carousel-wrapper .carousel .carousel-button--left {
    left: 70px;
  }
}
.carousel-wrapper .carousel .carousel-button--right {
  right: 10px;
}
@media (max-width: 1000px) {
  .carousel-wrapper .carousel .carousel-button--right {
    right: -50px;
  }
}
@media (max-width: 700px) {
  .carousel-wrapper .carousel .carousel-button--right {
    right: -45px;
  }
}
@media (max-width: 500px) {
  .carousel-wrapper .carousel .carousel-button--right {
    right: 20px;
  }
}
.carousel-wrapper .carousel .is-hidden {
  display: none;
}
.carousel-wrapper .carousel .carousel-track-container {
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0 lightgrey;
}
@media (max-width: 500px) {
  .carousel-wrapper .carousel .carousel-track-container {
    box-shadow: none;
    width: 100%;
  }
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-inline-start: 0px;
  list-style: none;
  transition: transform 0.35s ease-in-out;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide {
  position: absolute;
  margin: auto;
  width: 400px;
  height: 100%;
  background: #ededed;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide .slide {
  height: 100%;
  width: 100%;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide h3 {
  font-size: 1.6rem;
  position: absolute;
  top: 10px;
  padding: 10px;
  margin-top: 0;
  margin-left: 8px;
  border-radius: 15px;
  border: 1px solid #62c46f;
  background: #edffed;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide p {
  text-align: center;
  line-height: 1.4;
  height: auto;
  font-size: 1.4rem;
  position: absolute;
  bottom: 8px;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  background: white;
  border: 1px solid #62c46f;
  background: #edffed;
}
@media (max-width: 1000px) {
  .carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .carousel-wrapper .carousel .carousel-track-container {
    border-radius: 0;
  }
}
@media (max-width: 1000px) {
  .carousel-wrapper .carousel {
    margin: 10px;
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 700px) {
  .carousel-wrapper .carousel {
    width: 400px;
    height: 400px;
    padding: 0;
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .carousel-wrapper .carousel {
    margin: 40px 0;
  }
}
@media (max-width: 1000px) {
  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 0;
  }
}
.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.carousel-nav .carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  outline: none;
  cursor: pointer;
}
.carousel-nav .current-slide {
  background: #62c46f;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
.top-bar {
  width: 100%;
  left: 0;
  height: 75px;
  background-color: #00c519;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top-bar .menu {
  position: absolute;
  left: 20px;
}
.top-bar .menu .menu-button {
  cursor: pointer;
}
.top-bar .menu .menu-content {
  width: 200px;
  left: -20px;
  top: 41px;
  transition: 1s;
  position: absolute;
  background-color: #62c46f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2.5px solid #62c46f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 500px) {
  .top-bar .menu .menu-content {
    width: 150px;
  }
}
.top-bar .menu .menu-content .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 14px 0;
  font-size: 18px;
  text-decoration: none;
  font-family: Roboto;
  color: white;
}
@media (max-width: 500px) {
  .top-bar .menu .menu-content .dropdown-link {
    font-size: 1.2rem;
  }
}
.top-bar .menu .menu-content .dropdown-link:hover {
  color: white;
  background-color: #008010;
}
.top-bar .menu .menu-hidden {
  left: -240px;
  transition: 1s;
}
.top-bar h1 {
  font-size: 36px;
  text-shadow: 2px 2px 4px #000000;
}
@media (max-width: 500px) {
  .top-bar h1 {
    font-size: 30px;
  }
}
.top-bar .logins {
  position: absolute;
  display: flex;
  right: 20px;
  align-items: center;
}
@media (max-width: 500px) {
  .top-bar .logins {
    flex-direction: column;
  }
}
.top-bar .logins .login-item {
  display: flex;
  align-items: center;
  padding-left: 14px;
}
.top-bar .logins .login-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-left: 6px;
}
@media (max-width: 500px) {
  .top-bar .logins .login-item a {
    font-size: 12px;
    padding-bottom: 4px;
  }
}
.top-bar .logins .login-item:hover {
  transform: scale(1.2);
}
header {
  position: relative;
  width: 100%;
}
header .text h1 {
  position: absolute;
  z-index: 2;
  left: 24px;
  top: 25%;
  width: 50%;
  color: white;
  font-size: 30px;
  text-decoration: underline;
}
@media (max-width: 500px) {
  header .text h1 {
    font-size: 18px;
    left: 2rem;
    width: 50%;
    top: 27%;
  }
}
header .text p {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 42%;
  width: 50%;
  color: white;
  font-size: 14px;
  margin: 20px 24px;
}
@media (max-width: 500px) {
  header .text p {
    font-size: 1.2rem;
    color: black;
    width: 94.3%;
    padding: 14px;
    margin: 0;
    position: relative;
    background: white;
    left: 0;
    margin-top: 20px;
  }
}
header button {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 85%;
  width: 30%;
  color: white;
  padding: 14px;
  border-radius: 5px;
  background-color: #00c519;
  border: none;
  font-family: Roboto;
  transition: all 0.2s;
  outline: none;
}
@media (max-width: 500px) {
  header button {
    background-color: #0000cc;
    width: 50%;
    left: 25%;
    position: relative;
    margin: 2rem 0;
  }
}
@media (max-width: 1000px) {
  header button {
    background-color: #0000cc;
    width: 50%;
    left: 25%;
    position: relative;
    margin: 20px 0;
  }
}
header button a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 500px) {
  header button a {
    font-size: 18px;
  }
}
header button:hover {
  transform: scale(1.05);
}
header img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.accordion-wrapper {
  width: 100%;
  min-height: 400px;
  background-image: linear-gradient(270deg, #ffffff 0%, #e6ffe3 100%);
  padding: 50px 0;
  margin-top: -20px;
  background: white;
}
.accordion-wrapper h2 {
  font-size: 2rem;
  text-align: center;
  width: 40%;
  border-bottom: 1px solid lightgrey;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}
@media (max-width: 700px) {
  .accordion-wrapper h2 {
    width: 55%;
    border: 1px solid lightgrey;
    padding: 10px;
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .accordion-wrapper h2 {
    width: 70%;
  }
}
.accordion-wrapper .accordion {
  width: 700px;
  margin: 30px auto;
}
@media (max-width: 1000px) {
  .accordion-wrapper .accordion {
    width: 600px;
  }
}
@media (max-width: 700px) {
  .accordion-wrapper .accordion {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .accordion-wrapper .accordion {
    width: 100%;
    align-items: center;
  }
}
.accordion-wrapper .accordion .accordion-item {
  width: 700px;
}
@media (max-width: 1000px) {
  .accordion-wrapper .accordion .accordion-item {
    width: 600px;
  }
}
@media (max-width: 700px) {
  .accordion-wrapper .accordion .accordion-item {
    width: 100%;
  }
}
.accordion-wrapper .accordion a {
  position: relative;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid grey;
  transition: all 0.2s;
}
@media (max-width: 1000px) {
  .accordion-wrapper .accordion a {
    width: 98%;
  }
}
@media (max-width: 500px) {
  .accordion-wrapper .accordion a {
    width: 97%;
    text-align: center;
  }
}
.accordion-wrapper .accordion a:hover,
.accordion-wrapper .accordion a::after {
  cursor: pointer;
  color: black;
  background: #e8f3e4;
}
.accordion-wrapper i {
  cursor: pointer;
  position: relative;
  right: -675px;
  top: -35px;
  font-size: 1.4rem;
  color: #62c46f;
  padding: 6px;
  width: 20px;
  height: 20px;
  text-align: center;
}
@media (max-width: 1000px) {
  .accordion-wrapper i {
    right: -575px;
  }
}
@media (max-width: 700px) {
  .accordion-wrapper i {
    right: -475px;
  }
}
@media (max-width: 500px) {
  .accordion-wrapper i {
    display: none;
  }
}
.accordion-wrapper .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -30px;
}
.accordion-wrapper .content p {
  font-size: 1.3rem;
  font-weight: 300;
}
@media (max-width: 500px) {
  .accordion-wrapper .content {
    margin: 0;
  }
}
.accordion-wrapper .active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.2s;
}
.accordion-wrapper .active::after {
  color: #03d21f;
  border: 1px solid #03d214;
}
@media (max-width: 500px) {
  .accordion-wrapper {
    padding: 30px 0;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #ededed;
  padding-top: 100px;
  padding-left: 24px;
  padding-right: 24px;
}
.card-container .flip-card {
  background-color: transparent;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.card-container .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-container .flip-card .flip-card-inner .flip-card-front,
.card-container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-container .flip-card .flip-card-inner .flip-card-front {
  background-color: #bbb;
  color: white;
}
.card-container .flip-card .flip-card-inner .flip-card-front .text-box {
  background: rgba(204, 204, 204, 0.8);
  position: absolute;
  top: 83%;
  width: 100%;
}
.card-container .flip-card .flip-card-inner .flip-card-front .text-box h1 {
  font-size: 24px;
}
.card-container .flip-card .flip-card-inner .flip-card-back {
  background-color: #62c46f;
  color: white;
  transform: rotateY(180deg);
}
.card-container .flip-card .flip-card-inner .flip-card-back h1 {
  font-size: 30px;
}
.card-container .flip-card .flip-card-inner .flip-card-back h2 {
  font-size: 24px;
}
.card-container .flip-card .flip-card-inner .flip-card-back p {
  text-align: left;
  padding: 14px;
  font-size: 18px;
}
.card-container .flip-card:hover .flip-card-inner,
.card-container .flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
}
footer p {
  text-align: center;
  font-size: 1.6rem;
}
footer .social-nav a {
  text-decoration: none;
}
.fab {
  color: black;
  padding: 0 14px;
}
.fab:hover {
  transform: scale(1.5);
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #ededed;
}
body {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  background: #ededed;
}
