.carousel-wrapper {
  width: 100%;
  height: 700px;
  align-content: center;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 0%, #e6ffe3 100%);
}
.carousel-wrapper .carousel-title {
  width: 45%;
  height: 90%;
  margin-top: 10px;
}
.carousel-wrapper .carousel-title h2 {
  text-align: center;
}
.carousel-wrapper .carousel {
  background: white;
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  box-shadow: 3px 3px 3px 0px grey;
  padding: 50px;
}
.carousel-wrapper .carousel .carousel-button {
  position: absolute;
  top: 50%;
  background: transparent;
  border: 0;
  margin: auto;
  transition: all 0.2s;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-wrapper .carousel .carousel-button:hover {
  transform: scale(1.2);
  background: #b5ffb5;
}
.carousel-wrapper .carousel .carousel-button i {
  font-size: 3rem;
  color: #008010;
}
.carousel-wrapper .carousel .carousel-button--left {
  margin-left: -40px;
}
.carousel-wrapper .carousel .carousel-button--right {
  right: 10px;
}
.carousel-wrapper .carousel .is-hidden {
  display: none;
}
.carousel-wrapper .carousel .carousel-track-container {
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-inline-start: 0px;
  list-style: none;
  transition: transform 0.35s ease-in-out;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide {
  position: absolute;
  margin: auto;
  width: 500px;
  height: 100%;
  background: #b8f5b8;
  border-right: 1px solid grey;
}
.carousel-wrapper .carousel .carousel-track-container .carousel-track .carousel-slide .slide {
  height: 100%;
}
.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.carousel-nav .carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 15px;
  cursor: pointer;
}
.carousel-nav .current-slide {
  background: rgba(0, 0, 0, 0.8);
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
.top-bar {
  width: 100%;
  height: 75px;
  background-color: #00c519;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
}
.top-bar .menu {
  position: absolute;
  left: 20px;
}
.top-bar .menu .menu-button {
  cursor: pointer;
}
.top-bar .menu .menu-content {
  width: 200px;
  left: -20px;
  top: 41px;
  transition: 1s;
  position: absolute;
  background-color: #62c46f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2.5px solid #62c46f;
}
.top-bar .menu .menu-content .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  font-family: Roboto;
  color: white;
}
.top-bar .menu .menu-content .dropdown-link:hover {
  color: white;
  background-color: #008010;
}
.top-bar .menu .menu-hidden {
  left: -240px;
  transition: 1s;
}
.top-bar h1 {
  margin: 0;
  font-size: 4rem;
}
header {
  position: relative;
}
header .text h1 {
  position: absolute;
  z-index: 2;
  margin: 0 10rem;
  left: 0;
  right: 0;
  top: 37%;
  width: 71%;
  color: white;
  font-size: 4rem;
}
header .text p {
  position: absolute;
  z-index: 2;
  margin: 0 10rem;
  left: 0;
  right: 0;
  top: 45%;
  width: 50%;
  color: white;
  font-size: 1.6rem;
}
header button {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  margin: 0;
  left: 35%;
  top: 90%;
  width: 30%;
  color: white;
  font-size: 1.6rem;
  padding: 15px;
  border-radius: 5px;
  background-color: #00c519;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  transition: all 0.2s;
}
header button:hover {
  transform: scale(1.05);
}
header img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  width: 100%;
  background: #ededed;
}
.card-container .flip-card {
  background-color: transparent;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.card-container .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-container .flip-card .flip-card-inner .flip-card-front,
.card-container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-container .flip-card .flip-card-inner .flip-card-front {
  background-color: #bbb;
  color: white;
}
.card-container .flip-card .flip-card-inner .flip-card-front .text-box {
  background: rgba(204, 204, 204, 0.8);
  position: absolute;
  top: 83%;
  width: 100%;
}
.card-container .flip-card .flip-card-inner .flip-card-back {
  background-color: #62c46f;
  color: white;
  transform: rotateY(180deg);
}
.card-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: white;
  max-width: 1400px;
}
