.accordion-wrapper{
  width: 100%;
  min-height: 400px;
  background-image: linear-gradient(270deg, #ffffff 0%, #e6ffe3 100%);
  padding: 50px 0;
  margin-top: -20px;
  background: white;

  h2 {
    font-size: 2rem;
    text-align: center;
    width: 40%;
    border-bottom: 1px solid lightgrey;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .accordion {
    width: 50%;
    margin: 30px auto;
  }

  .accordion a {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 1px solid grey;
    transition: all .2s;

    &:hover, &::after {
      cursor: pointer;
      color: black;
      background: rgb(232, 243, 228);
    }
    &:hover::after {

    }
  } // .accordion a

  i { // plus/minus icons
    position: absolute;
    float: right;
    font-size: 1rem;
    color: #58d33f;
    padding: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

      p {
        font-size: 1.3rem;
        font-weight: 300;
      }
  }
  .active { //active content
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.2s;

    &::after {
      color: #03d21f;
      border: 1px solid #03d214;
    }
  }
} //accordion-wrapper