.carousel-wrapper {
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;

  .tutorial-carousel {
    display: inline-block;
    width: 60%;
    height: 200px;
    margin: 10px;
    border: 2px solid  @primary-green;
    border-radius: 5px;

    .carousel-items {

    }

    .car-item-hidden {
      display: none;
    }
  }

  .fa-angle-left {
    display: inline-block;
    cursor: pointer;
    font-size: 3rem;
    border: 3px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all .2s;

    &:hover {
      background: black;
      color: white;
      transform: scale(1.15);
    }
  }

  .fa-angle-right {
    display: inline-block;
    cursor: pointer;
    font-size: 3rem;
    border: 3px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all .3s;

    &:hover {
      background: black;
      color: white;
      transform: scale(1.15);
    }
  }
}