.carousel-wrapper {
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;

  .tutorial-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 200px;
    margin: 10px;
    border: 2px solid  @primary-green;
    border-radius: 5px;
    background: rgb(240, 255, 240);

    .carousel-items {
      width: 80%;
      height: 90%;
      margin: auto;
      background: white;
      border: 1px solid @light-green;
      box-shadow: 1px 1px 3px 0 grey;
    }

    .car-item-hidden {
      display: none;
    }
  }

  .fa-angle-left {
    display: inline-block;
    cursor: pointer;
    font-size: 3rem;
    border: 3px solid @primary-green;
    background: rgb(204, 245, 204);
    color: @primary-green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all .2s;
    margin-top: 6%;

    &:hover {
      color: white;
      background: @dark-green;
      border: 3px solid @dark-green;
    }
  }

  .fa-angle-right {
    display: inline-block;
    cursor: pointer;
    font-size: 3rem;
    border: 3px solid @primary-green;
    background: rgb(204, 245, 204);
    color: @primary-green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all .3s;
    margin-top: 6%;

    &:hover {
      color: white;
      background: @dark-green;
      border: 3px solid @dark-green;
    }
  }
}