
//Colors

@primary-green: #00c519;
@dark-green: #008010;
@light-green: #62c46f;
@very-light-green: rgb(237, 255, 237);
@accent-blue: #0000cc;
@grey: #c4c4c4;
@background-grey: #ededed;

// Media Queries
@mobile: "(max-width: 500)";
@tablet: "(max-width: 1000)";